body {
    background-color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navbar */
nav {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: -0.5rem -0.5rem 0;
}

nav h1 a {
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 2rem;
    padding: 1.5rem;
    text-decoration: none;
}

nav h3 {
    color: white;
    text-align: center;
}

nav h1 a:hover, nav ul li a:hover {
    background-color: #314455;
}

nav ul {
    display: flex;
    margin: 2rem;
}

nav ul li {
    list-style-type: none;
}

/* Authenticated Navbar */
#navAuthenticated {
    align-items: center;
    display: flex;
}

nav ul li p {
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 1rem;
}

nav ul li p:hover {
    background-color: #314455;

}

.post-dropdown, .account-dropdown {
    background-color: #314455;
    color: orange;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    z-index: 1;
}

.post-dropdown > a, .account-dropdown > a {
    font-size: medium;
    padding: 0.5rem;
}

nav ul li:hover .post-dropdown, nav ul li:hover .account-dropdown {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#navAuthenticated > li > div > a:hover {
    background-color: gray;
}

nav ul li a {
    color: orange;
    justify-self: center;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
}