h2 {
    text-align: center;
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

section {
    align-items: center;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
}

section > a {
    color: gray;
    text-decoration: none;
}